PLEX_SERVER=http://host.docker.internal:32400
NEVU_PORT=3000
NEVU_DISCOVERY_PORT=44201
NEVU_IMAGE=local/nevu:dev
DISABLE_TLS_VERIFY=false
DISABLE_NEVU_SYNC=false
DISABLE_REQUEST_LOGGING=false
DISABLE_GLOBAL_REVIEWS=false
