SERVER_IP=192.168.1.10
TZ=Europe/Warsaw

PLEX_MEDIA_PATH=/srv/media
PLEX_CONFIG_PATH=./data/plex
PLEX_TRANSCODE_PATH=./data/transcode
PLEX_UID=1000
PLEX_GID=1000
PLEX_HOSTNAME=plex
PLEX_IMAGE=plexinc/pms-docker:latest
PLEX_CLAIM=

NEVU_PORT=3000
NEVU_DISCOVERY_PORT=44201
NEVU_IMAGE=local/nevu-next:dev
DISABLE_NEVU_SYNC=false
DISABLE_REQUEST_LOGGING=false
DISABLE_GLOBAL_REVIEWS=false
